html{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: auto;
    position: relative;
    overflow-x: hidden;
}

.defaultSectionStyle{
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 30px;
    gap: 40px;
}
/* Heading */
h3{
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 3rem;
    font-weight: 600;
    color: #D4AF37;
}

/* Sub-Heading */
h2{
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #FFFACD;
}

/* Title */
h1{
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 3.5rem;
    color: #D4AF37;
}

/* Comments Heading */
h4{     
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-size: 1.5rem;
    color: #FFFFFF;
}

p{
    font-family: urbanist;
    font-weight: 100;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: #FFFFFF;
    text-align: center;
}
.background-image{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -5;
}
.background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.FlexDisplayRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.FlexDisplayCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.borderRadius40{
    border-radius: 40px 0px 40px 0px;
    -webkit-border-radius: 40px 0px 40px 0px;
    -moz-border-radius: 40px 0px 40px 0px;
    -ms-border-radius: 40px 0px 40px 0px;
    -o-border-radius: 40px 0px 40px 0px;
}

nav{
    max-width: 1440px;
    padding: 15px 30px;
    margin: auto;
    overflow-x: hidden !important;
    
}

/* Toggle Menu */

.toggleMenu{
    z-index: 3;
    height: 30px;
    width: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.toggleMenu input{
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 30px;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 5;
}
.toggleMenu span{
    width: 40px;
    height: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: #FFFACD;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.toggleMenu span:nth-child(2){
    transform-origin: 0 0;
}
.toggleMenu input:checked ~ span:nth-child(2){
    transform: translate(6px,-1px) rotate(45deg) ;
    -webkit-transform: translate(6px,-1px) rotate(45deg) ;
    -moz-transform: translate(6px,-1px) rotate(45deg) ;
    -ms-transform: translate(6px,-1px) rotate(45deg) ;
    -o-transform: translate(6px,-1px) rotate(45deg) ;
}
.toggleMenu span:nth-child(4){
    transform-origin: 0 100%;
}
.toggleMenu input:checked ~ span:nth-child(4){
    transform: translate(6px,1px) rotate(-45deg) ;
    -webkit-transform: translate(6px,1px) rotate(-45deg) ;
    -moz-transform: translate(6px,1px) rotate(-45deg) ;
    -ms-transform: translate(6px,1px) rotate(-45deg) ;
    -o-transform: translate(6px,1px) rotate(-45deg) ;
}
.toggleMenu input:checked ~ span:nth-child(3){
    opacity: 0%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.navSlide{
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    opacity: 1 !important;
}

/* ----------- */

.LogoContainer{
    width: 270px;
}
.LogoContainer img{
    width: 100%;
    height: auto;
}
#headerMenu{
    width: 60%;
}
#headerMenu a{
    text-decoration: none;
}
#headerMenu li{
    font-size: 1.2rem;
    color: #FFFACD;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
#headerMenu li:hover{
    color: #D4AF37;
}

/* About HERO */
.abouthero{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 100px 30px;
}

/* HERO */

.hero{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 100px 30px;
}
.HeroTextContainer{
    width: 50%;
    align-items: flex-start;
    justify-content: space-between;
}

.HeroTextContainer p{
    text-align: left;
    
}
.HeroImageContainer{
    width: 40%;
}
.HeroImageContainer-Image{
    width: 100%;
    height: 500px;
    position: relative;
}
.HeroImageContainer-Image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 2;
    border-radius: 170px 0px 170px 0px;
    -webkit-border-radius: 170px 0px 170px 0px;
    -moz-border-radius: 170px 0px 170px 0px;
    -ms-border-radius: 170px 0px 170px 0px;
    -o-border-radius: 170px 0px 170px 0px;
}

.HeroImageContainer-Image::before{
    content: "";
    width: 60%;
    height: 60%;
    background-color: #FFFACD;
    position: absolute;
    bottom: -15px;
    left: -15px;
    z-index: 1;
}

.HeroImageContainer-Image::after{
    content: "";
    width: 60%;
    height: 60%;
    background-color: #FFFACD;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
}


/* CTA-BUTTON */

.CTA-Button{
    justify-content: center;
    gap: 40px;
}

.ContactButton{
    width: 270px;
    background-color: #D4AF37;
    padding: 20px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: #D4AF37 3px solid ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.25rem;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}
.ExploreButton{
    background-color:#d4af3700;
    border: #FFFACD 3px solid ;
    color: #FFFACD;
}

.ContactButton:hover{
    background-color: #FFFACD;
    border: #FFFACD 3px solid ;
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
}
.ExploreButton:hover{
    color: black;
}

/* ---- WHO ARE WE ---- */

.WhoAreWe{
 position: relative;
 background-color: #1E1E1E;
}
.WhoAreWe img{
    position: absolute;
    width: 30%;
    opacity: 30%;
    z-index: 1;
}
.WhoAreWeContainer{
    z-index: 2;
}



/* ---- OUR VALUE ---- */

.OurValueContainer{
    flex-direction: row;
    justify-content: space-between;
}

.OurValueContainerText{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

}
.OurValueContainerText p{
    text-align: left;
}

.OurValueContainerImage{
    width: 40%;
    
}

.OurValueContainerImage-Img{
    width: 100%;
    position: relative;
    display: flex;

}
.OurValueContainerImage-Img::before{
    content: "";
    width: 60%;
    height: 60%;
    left: -15px;
    bottom: -15px;
    background-color: #FFFACD;
    position: absolute;
    z-index: 0;
}
.OurValueContainerImage-Img::after{
    content: "";
    width: 60%;
    height: 60%;
    top: -15px;
    right: -15px;
    background-color: #FFFACD;
    position: absolute;
    z-index: 0;
}

.OurValueContainerImage-Img img{
    width: 100%;
    object-fit: contain;
    border-radius: 170px 0px 170px 0px;
    -webkit-border-radius: 170px 0px 170px 0px;
    -moz-border-radius: 170px 0px 170px 0px;
    -ms-border-radius: 170px 0px 170px 0px;
    -o-border-radius: 170px 0px 170px 0px;
    z-index: 3;
}



/* ---- MENU ----  */

.MenuContainer{
    width: 100%;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    gap: 40px;
    z-index: 1;
}

.MenuContainerImage{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 800px;
    z-index: 1;
    position: relative;
    z-index: 3;

}

.MenuContainerImage::before{
    content: "";
    position: absolute;
    background-color: #FFFACD;
    width: 250px;
    height: 250px;
    z-index: -1;
    bottom: -15px;
    left: -15px;
}
.MenuContainerImage::after{
    content: "";
    position: absolute;
    background-color: #FFFACD;
    width: 150px;
    height: 150px;
    z-index: -1;
    top: -15px;
    right: -15px;
}

.MenuContainerImage-1-small::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    right: -25px;
    top: -25px;
    background-color: #D4AF37;
    z-index: 5;
}

.MenuContainerImage-1{
    width: 100%;
    gap: 20px; 
}

.MenuContainerImage-1-big{
    width: 50%;
    height: 100%;
    flex-grow: 1;
}

.MenuContainerImage-1-big img{
    border-radius: 40px 0px 0px 0px;
    -webkit-border-radius: 40px 0px 0px 0px;
    -moz-border-radius: 40px 0px 0px 0px;
    -ms-border-radius: 40px 0px 0px 0px;
    -o-border-radius: 40px 0px 0px 0px;
}
.MenuContainerImage-1-small{
    width: 40%;
    height: 100%;
    flex-grow: 1;
    position: relative;
}

.MenuContainer img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    flex-grow: 1;
}

.MenuContainerImage-2{
    width: 100%;
    gap: 20px;
    position: relative;
}


.MenuContainerImage-2-big{
    width: 50%;
    height: 100%;
    flex-grow: 1;
}

.MenuContainerImage-2-big img{
    border-radius: 0px 0px 40px 0px;
    -webkit-border-radius: 0px 0px 40px 0px;
    -moz-border-radius: 0px 0px 40px 0px;
    -ms-border-radius: 0px 0px 40px 0px;
    -o-border-radius: 0px 0px 40px 0px;
}
.MenuContainerImage-2-small{
    width: 40%;
    height: 100%;
    flex-grow: 1;
}

/* --------WhoAreWeCTA----- */


.WhoAreWeCTA{
    position: relative;
    background-color: #1E1E1E;
}
.WhoAreWeCTA img{
    position: absolute;
    width: 20%;
    opacity: 20%;
    z-index: 1;
}

/* --------Review----- */

.Review{
    background-color: #1E1E1E;
    z-index: -2;
}

.ReviewComments{
    padding: 40px;
    width: 100%;
    gap: 40px;
}

.CommentsCard{
    padding: 20px;
    background-color: #D4AF37;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    flex-grow: 1;
    z-index: 2;
}
.CommentsCard h4{
    color: black;
}
.CommentsCard i{
    color: #D4AF37;
}
.CommentsCard p{
    color: black;
    text-align: left;
    font-weight: 400;
}

.CommentsCard::before{
    content: "";
    position: absolute;
    background-color: #FFFACD;
    width: 100%;
    height: 100%;
    z-index: -1;
    bottom: 0px;
    left: -5px;
    border-radius: 40px 0px 40px 0px;
    -webkit-border-radius: 40px 0px 40px 0px;
    -moz-border-radius: 40px 0px 40px 0px;
    -ms-border-radius: 40px 0px 40px 0px;
    -o-border-radius: 40px 0px 40px 0px;
}

/* ---------WHY KOHLIN--------- */

.WhyKohlin{
    width: 100%;
    padding: 100px 30px;
}
.WhyKohlinContainer{
    background-color: #ffffff10;
    padding: 100px 100px;
}
.WhyKohlinImage{
    width: 100%;
    flex-direction: column;
    position: relative;
    gap: 20px;
}
.WhyKohlinImageContainer{
    width: 100%;
    gap: 20px;
}
.WhyKohlinImageContainer-Medium{
    width: 50%;
    align-items: flex-end;
    position: relative;
    flex-grow: 1;
}
.WhyKohlinImageContainer-Medium img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.WhyKohlinImageContainerText{
    padding: 20px;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0,0.8);
    position: absolute;
}
.WhyKohlinImageContainerText h4{
    color: #D4AF37;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
.WhyKohlinImageContainer-Full{
    width: 100%;
}
.WhyKohlinImageContainer-Big{
    width: 60%;
}
.WhyKohlinImageContainer-Small{
    width: 40%;
}

.WhyKohlinImage::before{
    content: "";
    position: absolute;
    background-color: #FFFACD;
    width: 15%;
    height: 15%;
    z-index: -1;
    bottom: -15px;
    left: -15px;
}
.WhyKohlinImage::after{
    content: "";
    position: absolute;
    background-color: #FFFACD;
    width: 10%;
    height: 10%;
    z-index: -1;
    top: -15px;
    right: -15px;
}



/* -----------GALLERY----------------- */

.Gallery{
    width: 100%;
    flex-direction: column;
    background-color: #1E1E1E;
}

.GalleryContainerImage{
    width: 100%;
    flex-direction: row;
    gap: 40px;
}
.GalleryContainerImage img{
    width: 25%;
    height: 500px;
    object-fit: cover;
}
.GalleryContainerImage i{
    font-size: 1.5rem;
    padding: 20px;
    background-color: #D4AF37;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.GalleryContainerImage i:hover{
    background-color: #FFFACD;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.WhoAreWeCTA2{
    background-color: #ffffff00;
}



/* --------Footer----------- */

.Footer{
    width: 100%;
}
.FooterContainer{
    flex-direction: row;
}
.FooterNav{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    
}
.FooterNav img{
    width: 60%;
}

.FooterNavText{
    width: 100%;
    gap: 20px;
    
}
.FooterNavText-Container{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.FooterNavText-Container a{
    text-decoration: none;
    color: #FFFFFF;
}
.FooterNavText-Container i{
    color: #FFFFFF;
}
.FooterContent{
    width: 50%;
    gap: 40px;
}
.FooterContent-Text{
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.FooterContent-Text h4{
    color: #FFFFFF;
    text-align: right;
    font-size: 2.5rem;
    font-family: Corinthia;
    font-weight: 400;
}
.FooterContent-Text p{
    color: #D4AF37;
    text-align: right;
}
.FooterContent-Image{
    width: 40%;
    position: relative;
}
.FooterContent-Image img{
    width: 100%;
}
.FooterContent-Image::before{
    content: "";
    position: absolute;
    background-color: #FFFACD;
    width: 30%;
    height: 30%;
    z-index: -1;
    bottom: -5px;
    left: -10px;
}
.FooterContent-Image::after{
    content: "";
    position: absolute;
    background-color: #FFFACD;
    width: 20%;
    height: 20%;
    z-index: -1;
    top: -10px;
    right: -10px;
}
.iconTextGroup{
    gap: 20px;
    justify-content: center;
}



/* -------------------------------------------------------------------------
----------------------------------------------------------------------------
----------------------------------------------------------------------------
-------------------------------TABLET---------------------------------------
----------------------------------------------------------------------------
---------------------------------------------------------------------------- */



@media screen and (max-width:768px) {
    .defaultSectionStyle{
        padding: 50px 20px;
    }
    /* Heading */
    h3{
        font-size: 2.7rem;
        text-align: center;
    }

    /* Sub-Heading */
    h2{
        font-size: 0.9rem;
        text-align: center;
    }

    /* Title */
    h1{
        font-size: 3.2rem;
        text-align: center;
    }

    /* Comments Heading */
    h4{     
        font-size: 1.2rem;
        text-align: center;
    }

    p{
        font-family: urbanist;
        font-weight: 100;
        line-height: 1.5em;
        letter-spacing: 1px;
        font-size: 0.9rem;
        color: #FFFFFF;
        text-align: center;
    }

    /* ------------navigator--------- */
    
    .LogoContainer{
        width: 180px;
    }
    #headerMenu{
        width: 70%;
    }
    #headerMenu li{
        font-size: 0.9rem;
    }

    /* ------------ HERO ------------ */

    .hero{
        flex-direction: column-reverse;
        padding: 50px 30px;
    }
    .HeroTextContainer{
        width: 100%;
        align-items: center;
    }
    .HeroTextContainer p{
        text-align: center;
    }
    .HeroImageContainer{
        width: 90%;
    }

    /* ------------CTA-BUTTON----------------- */

    .ContactButton{
        width: 250px;
        font-size: 0.95rem;
    }

    /* -------------OUR VALUE----------------- */

    .OurValueContainer{
        flex-direction: column;
        justify-content: space-between;
    }
    .OurValueContainerText{
        width: 100%;
        align-items: center;

    }
    .OurValueContainerText p{
        text-align: center;
    }

    .OurValueContainerImage{
        width: 60%; 
    }

    .OurValueContainerImage-Img img{
        border-radius: 100px 0px 100px 0px;
        -webkit-border-radius: 100px 0px 100px 0px;
        -moz-border-radius: 100px 0px 100px 0px;
        -ms-border-radius: 100px 0px 100px 0px;
        -o-border-radius: 100px 0px 100px 0px;
    }

    /* -------------MENU--------------  */

    .MenuContainer{
        padding: 50px 50px;
    }

    .MenuContainerImage::before{
        width: 150px;
        height: 150px;
    }

    

    /* --------Review----- */


    .ReviewComments{
        flex-direction: column;
    }

    .CommentsCard{
        width: 80%;
    }
    .CommentsCard h4{
        text-align: left;
    }
    /* ---------WHY KOHLIN--------- */

    .WhyKohlin{
        padding: 50px 30px;
    }
    .WhyKohlinContainer{
        padding: 50px 30px;
    }
    .WhyKohlinImageContainerText{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .WhyKohlinImageContainerText h4{
        font-size: 1.2rem;
    }
    .WhyKohlinImageContainer-Big{
        width: 55%;
    }
    .WhyKohlinImageContainer-Small{
        width: 45%;
    }

    /* -----------GALLERY----------------- */

    .GalleryContainerImage{
        gap: 20px;
    }
    .GalleryContainerImage img{
        width: 25%;
        height: 300px;
        object-fit: cover;
    }
    .GalleryContainerImage i{
        font-size: 1.2rem;
        padding: 10px;
    }
    /* --------Footer----------- */

    .FooterContainer{
        flex-direction: column;
    }
    .FooterNav{
        width: 100%;
        
    }
    .FooterNav img{
        width: 40%;
    }

    .FooterNavText{
        width: 100%;
        gap: 20px;
        
    }

    .FooterNavText-Container h4{
        text-align: left;
    }
    
    .FooterContent{
        width: 100%;
        gap: 40px;
        flex-direction: row-reverse;
    }
    .FooterContent-Text{
        align-items: flex-start;
    }
    .FooterContent-Text h4{
        text-align: left;
        font-size: 2.2rem;
    }

    
}

/* -------------------------------------------------------------------------
----------------------------------------------------------------------------
----------------------------------------------------------------------------
-------------------------------MOBILE---------------------------------------
----------------------------------------------------------------------------
---------------------------------------------------------------------------- */



@media screen and (max-width:425px) {

    .defaultSectionStyle{
        padding: 30px 20px;
    }
    /* Heading */
    h3{
        font-size: 2rem;
        text-align: center;
    }

    /* Sub-Heading */
    h2{
        font-size: 0.9rem;
        text-align: center;
    }

    /* Title */
    h1{
        font-size: 2.5rem;
        text-align: center;
    }

    /* Comments Heading */
    h4{     
        font-size: 1.2rem;
        text-align: center;
    }

    p{
        font-family: urbanist;
        font-weight: 100;
        line-height: 1.5em;
        letter-spacing: 1px;
        font-size: 0.9rem;
        color: #FFFFFF;
        text-align: center;
    }
    /* NAV */
    .toggleMenu{
        display: flex;
    }
    #headerMenu{
        width: 200px;
        flex-direction: column ;
        padding: 100px 20px 30px 20px;
        gap: 20px;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        align-items: flex-start;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        opacity: 0;
}


    /* HERO */
    .hero{
        gap: 20px;
    }
    .HeroTextContainer{
        align-items: flex-start;
        padding: 0px;
    }
    .HeroTextContainer h1{
        text-align: left;
    }
    .HeroTextContainer h2{
        text-align: left;
    }
    .HeroTextContainer p{
        text-align: left;
    }
    .HeroImageContainer{
        width: 100%;
    }
    .HeroImageContainer-Image{
        height: 300px;
    }
    .HeroImageContainer-Image img{
        height: 300px;
        border-radius: 100px 0px 100px 0px;
        -webkit-border-radius: 100px 0px 100px 0px;
        -moz-border-radius: 100px 0px 100px 0px;
        -ms-border-radius: 100px 0px 100px 0px;
        -o-border-radius: 100px 0px 100px 0px;
    }

    .HeroImageContainer-Image::before{
        bottom: -10px;
        left: -10px;
    }

    .HeroImageContainer-Image::after{
        top: -10px;
        right: -10px;
    }

    /* CTA-BUTTON */

    .CTA-Button{
        flex-direction: column;
        justify-content: stretch;
        gap: 20px;
        align-items: stretch;
        width: 100%;
    }

    .ContactButton{
        width: 100%;
        font-size: 1rem;
    }

    
    /* -------------OUR VALUE----------------- */


    .OurValueContainerText{
        width: 100%;
        align-items: flex-start;

    }
    .OurValueContainerText h3{
        text-align: left;
    }
    .OurValueContainerText p{
        text-align: left;
    }

    .OurValueContainerImage{
        width: 70%; 
    }

    /* ---- MENU ----  */

    .MenuContainer{
        padding: 50px 20px;
    }

    .MenuContainerImage::before{
        width: 0px;
    }
    .MenuContainerImage::before{
        width: 0px;

    }
    .MenuContainerImage::after{
        width: 0px;
    }
    .MenuContainerImage-1-small::before{
        width: 0px;
    }

    .MenuContainerImage-1-big{
        width: 100%;
    }

    .MenuContainerImage-1-big img{
        border-radius: 0px 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
        -ms-border-radius: 0px 0px 0px 0px;
        -o-border-radius: 0px 0px 0px 0px;
}
    .MenuContainerImage-1-small{
        display: none;
    }
    .MenuContainerImage-2{
        display: none;
    }

    /* --------Review----- */


    .ReviewComments{
        padding: 0px;
    }

    .CommentsCard{
        width: 100%;
    }

    /* ---------WHY KOHLIN--------- */

    .WhyKohlin{
        padding: 50px 10px;
    }
    .WhyKohlinContainer{
        padding: 10px 20px;
    }
    .WhyKohlinImageContainer{
        width: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    .WhyKohlinImageContainer-Medium{
        width: 100%;
        align-items: flex-end;
        position: relative;
        flex-grow: 1;
    }
    .WhyKohlinImageContainer-Medium img{
        width: 100%;
        height: 200px;
    }
    .WhyKohlinImageContainerText{
        padding: 20px;
        width: 100%;
        height: 20%;
        background-color: rgba(0, 0, 0,0.8);
        position: absolute;
    }
    .WhyKohlinImageContainerText h4{
        color: #D4AF37;
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    .WhyKohlinImageContainer-Full{
        width: 100%;
    }
    .WhyKohlinImageContainer-Big{
        width: 100%;
    }
    .WhyKohlinImageContainer-Small{
        width: 100%;
    }

    .WhyKohlinImage::before{
        width: 0px;
    }
    .WhyKohlinImage::after{
        width: 0px;
    }
    /* -----------GALLERY----------------- */

    .Gallery{
        width: 100%;
        flex-direction: column;
        background-color: #1E1E1E;
    }

    .GalleryContainerImage{
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }
    .GalleryContainerImage img{
        width: 90%;
        height: 250px;
        object-fit: cover;
    }
    .GalleryContainerImage i{
        display: none;
    }

    /* --------------Footer--------------- */
    .FooterContainer{
        flex-direction: column;
    }

    .FooterNav img{
        width: 60%;
    }
    
    .FooterNavText{
        flex-direction: column;
    }
    
    .FooterContent{
        flex-direction: column-reverse;
    }
    .FooterContent-Text{
        width: 100%;
    }
    .FooterContent-Text h4{
        text-align: center;
    }
    .FooterContent-Text p{
        text-align: right;
    }
    .FooterContent-Image{
        width:90%;
    }
    .FooterContent-Image img{
        width: 100%;
    }
    .FooterContent-Image::before{
        width: 0;
    }
    .FooterContent-Image::after{
        width: 0;
    }

}